body {
    font-family: "Constantia", "Georgia", serif; /* Ensure consistent font */
   
}

header {
    text-align: center;
    padding: 40px;
}
nav {
    background-color: #f8f8f8; /* Light background for the nav */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px; /* Padding around the menu */
}

nav ul li {
    position: relative; /* Positioning for submenu */
    margin: 0 20px; /* More space between menu items */
}

nav a {
    text-decoration: none;
    color: #333; /* Darker color for better contrast */
    padding: 10px; /* Padding for clickable area */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

nav a:hover {
    background-color: lightseagreen; /* Highlight on hover */
    color: white; /* Changing text color on hover */
}

nav .submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff; /* White background for submenu */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

nav ul li:hover .submenu {
    display: block; /* Show submenu on hover */
}

nav .submenu a {
    padding: 10px; /* Padding for submenu items */
}


.project-list {
    list-style-type: none; /* Removing default list styling */
    padding: 0; /* Remove default padding */
}

.project-list li {
    margin-bottom: 20px; /* Space between projects */
}

.project-list a {
    text-decoration: none; /* Removing underline from links */
    color: #333; /* Dark color for links */
}

.project-list a:hover {
    color: lightseagreen; /* Changing link color on hover */
}

footer {
    text-align: center;
    padding: 10px;
}
nav {
    background-color: #f8f8f8; /* Light background for the nav */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px; /* Padding around the menu */
}

nav ul li {
    position: relative; /* Positioning for submenu */
    margin: 0 20px; /* More space between menu items */
}
